<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 text-center">
    <li>
        <div class="panel">
            <h4>自动注册QQ号</h4>
            <img class="th" src="http://foundation.zurb.com/docs/assets/img/examples/comet-th.jpg">
            <p>
                由于同一个Q号每天能加的Q群数量，群发的频繁度等等有一定的限制。
                所以我们需要大量的QQ号来对付这些限制。
                绿色安装，不占空间，使用方便。
            </p>
            <a href="#" class="button success">立即购买</a>
        </div>
    </li>
    <li>
        <div class="panel">
            <h3>自动加QQ群</h3>
            <img class="th" src="http://foundation.zurb.com/docs/assets/img/examples/spacewalk-th.jpg">
            <p>
                支持关键词/Q群号搜索。
                支持批量导入QQ号进行自动切换。
                绿色安装，不占空间，使用方便。
            </p>
            <a href="#" class="button success">立即购买</a>
        </div>
    </li>
    <li>
        <div class="panel">
            <h3>自动Q群成员群发</h3>
            <img class="th" src="http://foundation.zurb.com/docs/assets/img/examples/launch-th.jpg">
            <p>
                支持自定义发送内容。
                支持批量导入QQ号进行自动切换。
                绿色安装，不占空间，使用方便。
            </p>
            <a href="#" class="button success">立即购买</a>
        </div>
    </li>
    <li>
        <div class="panel">
            <h3>自动QQ好友群发</h3>
            <img class="th" src="http://foundation.zurb.com/docs/assets/img/examples/space-th.jpg">
            <p>
                支持自定义发送内容。
                支持批量导入QQ号进行自动切换。
                绿色安装，不占空间，使用方便。
            </p>
            <a href="#" class="button success">立即购买</a>
        </div>
    </li>

    <li>
        <div class="panel">
            <h3>自动Q群群发</h3>
            <img class="th" src="http://foundation.zurb.com/docs/assets/img/examples/space-th.jpg">
            <p>
                支持自定义发送内容。
                支持批量导入QQ号进行自动切换。
                绿色安装，不占空间，使用方便。
            </p>
            <a href="#" class="button success">立即购买</a>
        </div>
    </li>
</ul>

